# --- Next.js Frontend Configuration ---
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="66571db9801b2af7a9cd39c30e22f7f5"
NEXT_PUBLIC_IS_TESTNET="false"
NEXT_PUBLIC_EXPLORER_URL="https://basescan.org"
NEXT_PUBLIC_PAYMASTER_URL="https://api.developer.coinbase.com/rpc/v1/base/YOUR_API_KEY"

# --- Hardhat Smart Contract Deployment Configuration ---
# Your wallet's private key (Starts with 0x. DO NOT commit this to GitHub!)
PRIVATE_KEY=""
# Block explorer API Key for verifying the smart contracts
BASESCAN_API_KEY=""
